@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
*{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
img{
    height: 100%;
    width: 100%;
}
body{
    background-image: url(../img/login_background.jpg);
    background-size: cover ;
    background-repeat: no-repeat;
    
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: gray;
    opacity: 0.5;
}
button{
    margin: 10px;
    
}
a{
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    margin-top: 100px;
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    background-color: gray;
    opacity: 0.5;
}