/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap'); */
*{
    box-sizing: border-box;
}

body{
    background-color: #243333;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    height: 100vh;
    font-family: 'Lato' sans-serif;
    margin: 0;
    font-size: 30px;
}
div#time2{
    margin-bottom: 20px;
}
.contenidor{
    margin-bottom: 30px;
    text-align: center;
}

.lletra{
    background-color: #444451;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lletra.correct{
    background-color: green;
    pointer-events: none;
    
}

.lletra.error{
    background-color: red;
    pointer-events: none;
}

.lletra:hover{
    background-color: #804000;
}

.fila{
    display: flex;
    justify-content: center;
}

.paraula{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 100px;
}

p.text span{
    color: #6feaf6;
}

button{
    display: block;
    margin: 20px auto;
    background: crimson;
    color: wheat;
    border: 0;
    padding: 6px 10px;

}

.envoltorio-popup{
    background: rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 10% auto;
    padding: 20px;
    background: black;
    position: relative;
}

.popup a{
    background:crimson;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
    width: 100px;
}

.cerrar-popup{
    position: absolute;
    top: 5px;
    right: 8px;

}